:root {
    --primary-color: #2A3647;
    --secondary-color: #29ABE2;
  }


/* Color-Scrollbar */
*::-webkit-scrollbar {
  height: 10px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #A8A8A8;
}

*::-webkit-scrollbar-track:hover {
  background-color: #A8A8A8;
}

*::-webkit-scrollbar-track:active {
  background-color: #A8A8A8;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: white;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

*::-webkit-scrollbar-thumb:active {
  background-color: white;
}